*{
	box-sizing: border-box;
}

.all{
	width: 1320px;
	height: 100%;
	border: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
}
body{
	display: flex;
	flex-direction: column;
	margin: auto;
}

div{
	border: 2px solid black;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	margin: 0 10px 0 10px;
}
h1{
	text-align: center;
}
p{
	width: 90px;
	height: 20px;
	border: 2px solid black;
	float: right;
	background: red;
	margin-bottom: 10px;
	margin-top: 0;
	position: relative;
	bottom: 11px;
	left: 11px;
	text-align: center;
}
#p1{
	width: 90px;
	height: 20px;
	border: 2px solid black;
	float: right;
	background: red;
	margin-bottom: 10px;
	margin-top: 0;
	position: relative;
	bottom: 12px;
	left: 12px;
	text-align: center;
}
section{
	clear: right;
}
#p2{
	width: 70px;
	height: 20px;
	border: 2px solid black;
	float: right;
	background: pink;
	margin-bottom: 10px;
	margin-top: 0;
	position: relative;
	bottom: 12px;
	left: 12px;
	text-align: center;
}

#p3{
	width: 70px;
	height: 20px;
	border: 2px solid black;
	float: right;
	background: yellow;
	margin-bottom: 10px;
	margin-top: 0;
	position: relative;
	bottom: 12px;
	left: 12px;
	text-align: center;
}
#div1{
	background: seashell;
}
#div2{
	background: seashell;
}
#div3{
	background: goldenrod;
}

@media (min-width: 992px) {
	
}
@media (min-width: 768px) and (max-width: 991px) {
	#div1, #div2{
		max-width: 45%;
		margin-bottom: 10px;
	}
	#div3{
		max-width: 92%;
	}
	.all{
		flex-wrap: wrap;
	}
}

@media (max-width: 767px){
	#div1, #div2{
		max-width: 90%;
		margin-bottom: 10px;
	}
	#div3{
		max-width: 90%;
	}
	.all{
		flex-wrap: wrap;
	}
}
